<div class="-home">
  <div class="header">
    <h1>Leaflet Route</h1>
  </div>
  <div class="body">
    <div class="content">
      <div class="left">
        <div>
          <button nzType="primary" class="upload-container">
            <!--读取数据-->
            <span>Reloading Data</span>
            <input class="upload-input" id="upload-input" type="file" (change)="read()" />
          </button>

          <!--保存数据-->
          <button nz-button nzType="primary" (click)="save()"
                  [attr.disabled]="">Save Data</button>
        </div>
        <div>
          <!--添加起点-->
          <button nz-button nzType="primary" (click)="addStart()" class="addPoint"
                  [attr.disabled]="startPoint ? 'disabled' : null">Add Start Point</button>
          <nz-tag *ngIf="startPoint" [nzColor]="'green'">[ {{startPoint.lat.toFixed(2)}}, {{startPoint.lng.toFixed(2)}} ]</nz-tag>
        </div>
        <div>
          <!--添加终点-->
          <button nz-button nzType="primary" (click)="addEnd()" class="addPoint"
                  [attr.disabled]="endPoint ? 'disabled' : null">Add End Point</button>
          <nz-tag *ngIf="endPoint" [nzColor]="'blue'">[ {{endPoint.lat.toFixed(2)}}, {{endPoint.lng.toFixed(2)}} ]</nz-tag>
        </div>
        <div>
          <!--生成路径-->
          <button nz-button nzType="dashed" (click)="createRoute()"
                  [attr.disabled]="route ? 'disabled' : null">Build the Path</button>

          <!--生成反转路径-->
          <nz-tooltip [nzTitle]="'Reverse Path'" [nzPlacement]="'right'">
            <button nz-button nz-tooltip (click)="reverseRoute()">

              <i class="anticon anticon-swap"></i>
            </button>
          </nz-tooltip>
        </div>
        <div>
          <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select Sign"
                     [(ngModel)]="selectedSign" (ngModelChange)="signChange(selectedSign)">
            <nz-option nzCustomContent [nzLabel]="item.name" [nzValue]="item" *ngFor="let item of SIGNS">
              {{item.name}}
            </nz-option>
          </nz-select>
          <!--清空标记-->
          <button style="margin-left: 12px; margin-bottom: 12px;" nz-button nzType="primary" (click)="clearSign()">
            Delete Icons
          </button>
        </div>

        <nz-table #nzTable [nzData]="arrRoute" [nzPageSize]="5" *ngIf="arrRoute.length !== 0">
          <thead nz-thead>
          <tr>
            <!--距离-->
            <th nz-th><span>The Distance</span></th>
            <!--起点-->
            <th nz-th><span>The Start Point</span></th>
            <!--终点-->
            <th nz-th><span>The End Point</span></th>
          </tr>
          </thead>
          <tbody nz-tbody>
          <tr nz-tbody-tr class="tr-hover" *ngFor="let item of nzTable.data"
              (mouseenter)="trEnter(item)" (mouseleave)="trLeave(item)">
            <td nz-td>{{(item.dis / 1000).toFixed(2)}} km</td>
            <td nz-td>{{toString(item?.start)}}</td>
            <td nz-td>{{toString(item?.end)}}</td>
          </tr>
          </tbody>
        </nz-table>

      </div>
      <div class="right">
        <div id="map" class="map"></div>
      </div>
    </div>
  </div>
</div>
