<div class="mapcontainer">
  <div id="map" class="map"></div>
  <div class="padding-top"></div>
  <div class="padding-left"></div>
  <div class="padding-right"></div>
  <div class="padding-bottom"></div>
  <div class="center"></div>
</div>


<div id="anchor"></div>

<div style="background-color: #999;"><span>当前绘制线的坐标：</span><span id='points'></span></div>



<div style="display: none;">
  <!-- Clickable label for Vienna -->
  <a class="overlay" id="vienna" target="_blank" href="http://en.wikipedia.org/wiki/Vienna">Vienna</a>
  <div id="marker" title="Marker"></div>




  <!-- Popup -->
  <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content" style="width:300px; height:120px;"></div>
  </div>





<div id="mouse-position"></div>



<form class="form-inline">
  <label>Measurement type &nbsp;</label>
  <select id="type">
    <option value="length">Length (LineString)</option>
    <option value="area">Area (Polygon)</option>
  </select>
</form>
