<form id="question-display_form" class="container has-background-light has-text-black">

<div *ngFor="let q of questionList" class="field">
  <label class="label">{{q.id}}. {{q.text}}</label>
  <div class="control">
    <label class="radio">
      <input type="checkbox" [checked]="getAnswerById(q.id)"
        (click)="updateAnswerHandler(q.id, true)">
      Yes
    </label>
    <label class="radio">
      <input type="checkbox" [checked]="getAnswerById(q.id) === null ? null : !getAnswerById(q.id)"
        (click)="updateAnswerHandler(q.id, false)">
      No
    </label>
  </div>
</div>

<div id="question-display_button-container" class="field is-grouped">
  <div class="control">
    <button class="button is-link" (click)="submitHandler()">Submit</button>
  </div>
</div>


</form>
