#test {
  animation: change 10s linear 0s infinite;
}
@keyframes change {
  0% {
    color: #9900FF;
  }
  25% {
    color: #CC33CC;
  }
  50% {
    color: #f60;
  }
  75% {
    color: #6666FF;
  }
  100% {
    color: #f00;
  }
}
